[monitor:///var/log]
index = main
sourcetype = syslog

[monitor:///var/log/messages]
index = main
sourcetype = syslog

[monitor:///var/log/auth.log]
index = main
sourcetype = auth

[monitor:///var/log/syslog]
index = main
sourcetype = syslog

{% if ansible_distribution == 'CentOS' %}
# CentOS specific monitors
[monitor:///var/log/secure]
index = main
sourcetype = auth

[monitor:///var/log/yum.log]
index = main
sourcetype = package_manager

[monitor:///var/log/httpd]
index = web
sourcetype = apache
recursive = true

[monitor:///var/log/mariadb]
index = database
sourcetype = mysql
recursive = true
{% endif %}

{% if ansible_distribution == 'Fedora' %}
# Fedora specific monitors
[monitor:///var/log/roundcube]
index = main
sourcetype = roundcube

[monitor:///var/log/maillog]
index = main
sourcetype = postfix

[monitor:///var/log/dovecot.log]
index = main
sourcetype = dovecot

[monitor:///var/log/mariadb]
index = main
sourcetype = mysql
recursive = true

[monitor:///var/log/httpd]
index = main
sourcetype = apache
recursive = true
{% endif %}

{% if ansible_distribution == 'Ubuntu' %}
# Ubuntu specific monitors
[monitor:///var/log/apache2]
index = web
sourcetype = apache
recursive = true

[monitor:///var/log/apt]
index = main
sourcetype = package_manager
recursive = true
{% endif %}

{% if ansible_distribution == 'Debian' %}
# Debian specific monitors
[monitor:///var/log/named]
index = dns
sourcetype = bind
recursive = true

[monitor:///var/log/ntp]
index = ntp
sourcetype = ntp
recursive = true
{% endif %}
